@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300&display=swap');
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

#menu {
    display: flex;
    align-items: center;
    box-shadow: inset 0 -2px 0 0 #ffff, 0 3px 5px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 1;
    width: 100vw;
    background-color: white;
}

main {
    padding-top: 11vh;
}

.logo-header-main {
    width: 45px;
    margin-left: -74px;
}

.logo-header {
    margin: 25px 278px;
    width: 48px;
}

#inicio_header {
    font-size: 20px;
    margin-left: -180px;
    font-weight: bolder;
}

#inicio_header:hover {
    color: #0e89ef;
    transition: all .4s ease, visibility 0s;
    cursor: pointer;
}

#botao {
    border: none;
    background-color: #FFFF;
    font-size: 20px;
    font-weight: 700;
}

#botao:hover {
    color: #0e89ef;
    transition: all .4s ease, visibility 0s;
    cursor: pointer;
}

.planos-header {
    font-size: 20px;
    margin-left: 45px;
    font-weight: bolder;
    cursor: pointer;
}

.planos-header:hover {
    color: #0e89ef;
    transition: all .4s ease, visibility 0s;
    cursor: pointer;
}

.sobre-header {
    font-size: 20px;
    margin-left: 45px;
    font-weight: bolder;
    cursor: pointer;
}

.sobre-header:hover {
    color: #0e89ef;
    transition: all .4s ease, visibility 0s;
    cursor: pointer;
}

.suporte-header {
    font-size: 20px;
    margin-left: 45px;
    font-weight: bolder;
    cursor: pointer;
}

.suporte-header:hover {
    color: #0e89ef;
    transition: all .4s ease, visibility 0s;
    cursor: pointer;
}

.assine-header {
    margin-left: 112px;
    cursor: pointer;
}

.assine-header-main {
    display: flex;
    border-radius: 30px;
    width: 134px;
    height: 35px;
    align-items: center;
    border: transparent 1px solid;
    background-color: #0e89ef;
    font-size: 17px;
    font-weight: bolder;
    padding-left: 31px;
    color: aliceblue;
    padding-bottom: 5px;
    cursor: pointer;
}

.assine-header-main:hover {
    background-color: rgb(255, 255, 255);
    transition: all .4s;
    border: black 1px solid;
    color: black;
    cursor: pointer;
}

.area-header {
    margin-left: 40px;
    cursor: pointer;
}

.area-header-main {
    display: flex;
    border-radius: 30px;
    width: 197px;
    height: 35px;
    align-items: center;
    border: transparent 1px solid;
    background-color: #0e89ef;
    font-size: 17px;
    font-weight: bolder;
    padding-left: 31px;
    color: aliceblue;
    padding-bottom: 5px;
    cursor: pointer;
}

.area-header-main:hover {
    background-color: rgb(255, 255, 255);
    transition: all .4s;
    border: black 1px solid;
    color: black;
    cursor: pointer;
}

.area-header-text {
    font-size: 17px;
    font-weight: bolder;
    padding-left: 31px;
    color: aliceblue;
    padding-bottom: 5px;
    cursor: pointer;
}

.items-main1 {
    display: flex;
    align-items: center;
}

.title-text-main {
    position: absolute;
}

.main-top {
    display: flex;
    align-items: center;
}

.title-top {
    /* margin-left: -14%; */
    /* margin-bottom: 313px; */
    font-size: 31px;
    font-weight: 700;
    color: #2888ef;
    position: relative;
    left: 8px;
}

.frase-top {
    /* margin-left: -218px; */
    /* margin-top: -14%; */
    font-size: 20px;
    font-weight: 600;
    color: black;
    position: relative;
    top: 14px;
    left: 8px;
}

.frase2-top {
    /* margin-left: -16.7%; */
    /* margin-top: -10%; */
    font-size: 20px;
    font-weight: 600;
    color: black;
    position: relative;
    top: 14px;
    top: 9px;
}

.primeiro-mes {
    font-size: 20px;
    font-weight: 600;
    /* margin-left: -18.45%; */
    position: relative;
    top: 36px;
    left: 52px;
}

.gratis {
    color: #2888ef;
    font-size: 54px;
    font-weight: 700;
    /* margin-top: 8%; */
    /* margin-left: -9%; */
    position: relative;
    top: 22px;
    left: 22px;
}

.apenas-novos {
    /* margin-top: 15%; */
    /* margin-left: -13.7%; */
    font-weight: 700;
    position: relative;
    top: 12px;
    left: 13px;
}

.button-adquira-main {
    display: flex;
    border-radius: 30px;
    width: 193px;
    height: 70px;
    align-items: center;
    border: transparent 1px solid;
    background-color: #0e89ef;
    font-size: 17px;
    font-weight: bolder;
    padding-left: 31px;
    color: aliceblue;
    padding-bottom: 5px;
    cursor: pointer;
}

.button-adquira {
    /* margin-left: 11%; */
    cursor: pointer;
    /* margin-top: -9%; */
    width: min-content;
    position: relative;
    top: 56px;
    left: 15px;
}

.button-adquira-main:hover {
    background-color: #005195;
    transition: all .4s ease, visibility 0s;
}

.jacliente {
    /* padding: 10px 10px 10px 10px; */
    background-color: #efefef;
    width: 39vh;
    height: 235px;
    margin-left: 71%;
    margin-top: -25%;
    border-radius: 10px;
    border: 1px solid;
    border-color: #0e89ef;
    position: relative;
    bottom: 70vh;
    left: 63vh;
}

.title-jacliente {
    text-align: center;
    font-size: 21px;
    font-weight: 600;
}

.facalogin-jacliente {
    text-align: center;
}

.email-text {
    margin-top: 11px;
    font-weight: 600;
}

.email-input {
    width: 250px;
    margin-left: 4px;
    border: 1px solid #0000003d;
    border-radius: 10px;
    text-align: center;
    font-weight: 600;
}

.senha-text {
    margin-top: 11px;
    font-weight: 600;
    text-align: center;
}

.senha-input {
    width: 250px;
    margin-left: 32px;
    border: 1px solid #0000003d;
    border-radius: 10px;
    text-align: center;
    font-weight: 600;
    text-align: center;
    align-items: center;
}

.loginbutton-jacliente {
    width: 136px;
    margin-left: 34%;
    margin-top: 6%;
}

.loginbutton-main {
    display: flex;
    border-radius: 30px;
    width: 105px;
    height: 35px;
    align-items: center;
    border: transparent 1px solid;
    background-color: #0e89ef;
    font-size: 17px;
    font-weight: bolder;
    padding-left: 31px;
    color: aliceblue;
    padding-bottom: 5px;
    cursor: pointer;
}

.loginbutton-main:hover {
    background-color: rgb(255, 255, 255);
    transition: all .4s;
    border: black 1px solid;
    color: black;
    cursor: pointer;
}

.hrefplanos {
    text-decoration: none;
    color: black;
}

.hrefsuporte {
    text-decoration: none;
    color: black;
}

.hrefsobre {
    text-decoration: none;
    color: black;
}

.planos {
    width: 175vh;
    display: flex;
    align-items: center;
    column-gap: 40px;
    margin-left: -14px;
    margin-top: -65px;
    position: relative;
    top: 6vh;
    left: 7vh;
}

.plano-basico {
    width: 228px;
    height: 338px;
    background-color: #EFEFEF;
    margin-left: 11%;
    margin-top: 8%;
    border-radius: 15px;
    background-color: #d7d7d7ad;
    border: #0e89ef, solid;
    border: #0e89ef solid 1px;
}

.plano-intermediario {
    width: 228px;
    height: 338px;
    background-color: #EFEFEF;
    margin-left: 11%;
    margin-top: 8%;
    border-radius: 15px;
    background-color: #d7d7d7ad;
    border: #0e89ef, solid;
    border: #0e89ef solid 1px;
}

.plano-avancado {
    width: 228px;
    height: 338px;
    background-color: #EFEFEF;
    margin-left: 11%;
    margin-top: 8%;
    border-radius: 15px;
    background-color: #d7d7d7ad;
    border: #0e89ef, solid;
    border: #0e89ef solid 1px;
}

.estrela-basico {
    height: 66px;
    box-shadow: inset 0 -2px 0 0 #2786f0, 0 3px 5px 0 rgb(0 0 0 / 20%);
}

.estrela-basico-main {
    width: 90px;
    /* margin-left: 68px; */
    position: relative;
    left: 69px;
    top: 7px;
}

.plano-basico-text {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    margin-top: 3px;
}

.plano-basico-text2 {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    margin-top: -4px;
    color: #0e89ef;
}

.especif-basico1 {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.ponto-basico {
    width: 20px;
    height: 5px;
    background-color: #0e89ef;
    margin-left: 22px;
}

.especif-basico2 {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.especif-basico3 {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.text1-especif-basico {
    font-size: 23px;
    margin-left: 22px;
    margin-top: -5px;
}

.ponto-basico2 {
    width: 20px;
    height: 5px;
    background-color: #0e89ef;
    margin-left: 22px;
}

.text1-especif-basico2 {
    font-size: 23px;
    margin-left: 22px;
    margin-top: -5px;
}

.ponto-basico3 {
    width: 20px;
    height: 5px;
    background-color: #0e89ef;
    margin-left: 22px;
}

.text1-especif-basico3 {
    font-size: 23px;
    margin-left: 22px;
    margin-top: -5px;
    line-height: 20px;
}

.compra-basico {
    margin-left: 57px;
    margin-top: 26px;
}

#compra-basico-main {
    border: none;
    border-radius: 6px;
    background-color: transparent;
    width: 116px;
    height: 37px;
    font-size: 19px;
    font-weight: 600;
    color: transparent;
    TEXT-ALIGN: CENTER;
    cursor: pointer;
}

.plano-basico:hover #compra-basico-main {
    border: none;
    border-radius: 6px;
    background-color: #0e89ef;
    width: 116px;
    height: 37px;
    font-size: 19px;
    font-weight: 600;
    color: aliceblue;
    TEXT-ALIGN: CENTER;
    cursor: pointer;
    transition: .3s;
}

.estrela-intermediario {
    height: 66px;
    box-shadow: inset 0 -2px 0 0 #2786f0, 0 3px 5px 0 rgb(0 0 0 / 20%);
}

.estrela-intermediario-main {
    width: 90px;
    position: rek;
    /* margin-left: 57px; */
    position: relative;
    left: 67px;
    top: 8px;
}

.plano-intermediario-text {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    margin-top: 3px;
}

.plano-intermediario-text2 {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    margin-top: -4px;
    color: #0e89ef;
}

.especif-intermediario1 {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.especif-intermediario2 {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.especif-intermediario3 {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.ponto-intermediario {
    width: 20px;
    height: 5px;
    background-color: #0e89ef;
    margin-left: 22px;
}

.text1-especif-intermediario {
    font-size: 23px;
    margin-left: 22px;
    margin-top: -5px;
}

.ponto-intermediario2 {
    width: 20px;
    height: 5px;
    background-color: #0e89ef;
    margin-left: 22px;
}

.text1-especif-intermediario2 {
    font-size: 23px;
    margin-left: 22px;
    margin-top: -5px;
}

.ponto-intermediario3 {
    width: 20px;
    height: 5px;
    background-color: #0e89ef;
    margin-left: 22px;
}

.text1-especif-intermediario3 {
    font-size: 23px;
    margin-left: 22px;
    margin-top: -5px;
    line-height: 20px;
}

.compra-intermediario {
    margin-left: 57px;
    margin-top: 26px;
}

#compra-intermediario-main {
    border: none;
    border-radius: 6px;
    background-color: transparent;
    width: 116px;
    height: 37px;
    font-size: 19px;
    font-weight: 600;
    color: transparent;
    TEXT-ALIGN: CENTER;
    cursor: pointer;
}

.plano-intermediario:hover #compra-intermediario-main {
    border: none;
    border-radius: 6px;
    background-color: #0e89ef;
    width: 116px;
    height: 37px;
    font-size: 19px;
    font-weight: 600;
    color: aliceblue;
    TEXT-ALIGN: CENTER;
    cursor: pointer;
    transition: .3s;
}

.plano-avancado {
    width: 228px;
}

.estrela-avancado {
    height: 66px;
    box-shadow: inset 0 -2px 0 0 #2786f0, 0 3px 5px 0 rgb(0 0 0 / 20%);
}

.estrela-avancado-main {
    width: 90px;
    position: rek;
    /* margin-left: 57px; */
    position: relative;
    left: 77px;
    top: 8px;
}

.plano-avancado-text {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    margin-top: 3px;
}

.plano-avancado-text2 {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    margin-top: -4px;
    color: #0e89ef;
}

.especif-avancado1 {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.especif-avancado2 {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.especif-avancado3 {
    display: flex;
    align-items: center;
    margin-top: 19px;
}

.ponto-avancado {
    width: 20px;
    height: 5px;
    background-color: #0e89ef;
    margin-left: 22px;
}

.text1-especif-avancado {
    font-size: 23px;
    margin-left: 22px;
    margin-top: -5px;
}

.ponto-avancado2 {
    width: 20px;
    height: 5px;
    background-color: #0e89ef;
    margin-left: 22px;
}

.text1-especif-avancado2 {
    font-size: 23px;
    margin-left: 22px;
    margin-top: -5px;
}

.ponto-avancado3 {
    width: 20px;
    height: 5px;
    background-color: #0e89ef;
    margin-left: 22px;
}

.text1-especif-avancado3 {
    font-size: 23px;
    margin-left: 22px;
    margin-top: -5px;
    line-height: 20px;
}

.compra-avancado {
    margin-left: 57px;
    margin-top: 36px;
}

#compra-avancado-main {
    border: none;
    border-radius: 6px;
    background-color: transparent;
    width: 116px;
    height: 37px;
    font-size: 19px;
    font-weight: 600;
    color: transparent;
    TEXT-ALIGN: CENTER;
    cursor: pointer;
}

.plano-avancado:hover #compra-avancado-main {
    border: none;
    border-radius: 6px;
    background-color: #0e89ef;
    width: 116px;
    height: 37px;
    font-size: 19px;
    font-weight: 600;
    color: aliceblue;
    TEXT-ALIGN: CENTER;
    cursor: pointer;
    transition: .3s;
}

.plano-avancado {
    width: 228px;
}

.title-planos {
    font-size: 50px;
    margin-top: 40px;
    margin-left: 31.5%;
}

.homepage {
    height: 619px;
    display: flex;
    align-items: center;
}

.text-homepage {
    /* margin-top: 74px; */
    /* width: 100%; */
    width: 67vh;
    height: 63vh;
    display: grid;
    /* padding-top: 22px; */
    position: relative;
    top: 89px;
    left: 20vh;
}

.imgdentista {
    position: relative;
    bottom: 21vh;
    width: min-content;
    height: min-content;
    left: 42vh;
}

.email-login {
    /* width: min-content; */
    text-align: center;
    margin-right: 0;
    position: relative;
    /* left: 47vh; */
    align-items: center;
}

.logowith-text {
    width: min-content;
    position: relative;
    bottom: 113vh;
    left: 51vh;
}

.logowithtext-main {
    width: 294px;
}

.socials-homepage {
    width: min-content;
    display: flex;
    align-items: center;
    position: relative;
    bottom: 61vh;
    left: 145vh;
}

.whatsapp-homepage {
    width: 45px;
    position: relative;
    /* bottom: 61vh; */
    /* left: 144vh; */
}

.instagram-homepage {
    width: 45px;
    position: relative;
    /* bottom: 61vh; */
    left: 2vh;
}

.socials-planos {
    width: min-content;
    display: flex;
    align-items: center;
    position: relative;
    /* bottom: 61vh; */
    left: 167vh;
    top: 18vh;
}

.whatsapp-planos {
    width: 45px;
    position: relative;
    /* bottom: 61vh; */
    /* left: 144vh; */
}

.instagram-planos {
    width: 45px;
    position: relative;
    /* bottom: 61vh; */
    left: 2vh;
}

.text-sobre {
    position: relative;
    top: 6vh;
}

.title-sobre {
    font-size: 25px;
    font-weight: 600;
}

.title-suporte {
    padding-top: 28px;
    font-size: 35px;
    font-weight: 600;
}

.history-sobre {
    width: 700px;
    font-size: 20px;
}

.pergunta-1 {
    position: relative;
    top: 16vh;
}

.title-pergunta1 {
    position: relative;
    margin-left: 110px;
    font-size: 22px;
    font-weight: 600;
    color: #0e89ef;
}

.resposta-pergunta1 {
    position: relative;
    font-size: 19px;
    width: 91%;
    padding-left: 112px;
    /* left: 14vh; */
    font-weight: 600;
}

.pergunta-1:hover {
    background-color: rgba(71, 71, 71, 0.199);
    transition: .4s;
}

.pergunta-2 {
    position: relative;
    top: 16vh;
    height: min-content;
}

.title-pergunta2 {
    position: relative;
    margin-left: 110px;
    font-size: 22px;
    font-weight: 600;
    color: #0e89ef;
}

.resposta-pergunta2 {
    position: relative;
    font-size: 19px;
    width: 91%;
    padding-left: 112px;
    /* left: 14vh; */
    font-weight: 600;
}

.pergunta-2:hover {
    background-color: rgba(71, 71, 71, 0.199);
    transition: .4s;
    height: min-content;
}

.perguntas-faq {
    display: grid;
    row-gap: 5vh;
}

.pergunta-3 {
    position: relative;
    top: 16vh;
}

.title-pergunta3 {
    position: relative;
    margin-left: 110px;
    font-size: 22px;
    font-weight: 600;
    color: #0e89ef;
}

.resposta-pergunta3 {
    position: relative;
    font-size: 19px;
    width: 91%;
    padding-left: 112px;
    /* left: 14vh; */
    font-weight: 600;
}

.pergunta-3:hover {
    background-color: rgba(71, 71, 71, 0.199);
    transition: .4s;
}

.pergunta-4 {
    position: relative;
    top: 16vh;
}

.title-pergunta4 {
    position: relative;
    margin-left: 110px;
    font-size: 22px;
    font-weight: 600;
    color: #0e89ef;
}

.resposta-pergunta4 {
    position: relative;
    font-size: 19px;
    width: 91%;
    padding-left: 112px;
    /* left: 14vh; */
    font-weight: 600;
}

.pergunta-4:hover {
    background-color: rgba(71, 71, 71, 0.199);
    transition: .4s;
}

.socials-sobre {
    width: min-content;
    display: flex;
    align-items: center;
    position: relative;
    /* bottom: 61vh; */
    left: 167vh;
}

.whatsapp-sobre {
    width: 45px;
    position: relative;
    /* bottom: 61vh; */
    /* left: 144vh; */
}

.instagram-sobre {
    width: 45px;
    position: relative;
    /* bottom: 61vh; */
    left: 2vh;
}

.itens-sobre-footer {
    display: flex;
    align-items: center;
}

.href-button-assine {
    text-decoration: none;
}

.container-suporte {
    width: 350px;
    height: 350px;
    background-color: #8080802a;
    border-radius: 18px;
    border: 1px solid;
    margin-top: 28px;
    display: grid;
    row-gap: 0px;
}

.container-suporte:hover {
    background-color: #80808054;
    transition: .4s;
}

.title-suporte {
    position: relative;
    padding-top: 14px;
    font-size: 35px;
    font-weight: 600;
    top: 13px;
    color: #0e89ef;
}

.title-container {
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    height: min-content;
}

.title-relate {
    font-size: 18px;
    font-weight: 600;
    padding-left: -9px;
    padding-right: 175px;
}

.inputs-container {
    position: relative;
    bottom: 7px;
}

.input-relate-main {
    border-radius: 6px;
    width: 86%;
    border: solid 1px black;
    outline: none;
    font-weight: 600;
}
.botao-relate{
    width: 100px;
    height: 1;
    height: 48px;
    /* border: none; */
    border: solid 1px;
    border-radius: 13px;
    background-color: #0e89ef;
    color: white;
    font-size: 20px;
    font-weight: 600;
    /* margin-bottom: 4px; */
    padding-bottom: 4px;
}
.botao-relate:hover{
    background-color: rgb(255, 255, 255);
    transition: all .4s;
    border: black 1px solid;
    color: black;
    cursor: pointer;
}
.socials-planos-suporte{
    width: min-content;
    display: flex;
    align-items: center;
    position: relative;
    /* bottom: 61vh; */
    left: 167vh;
    top: 12vh;
}
.conteudo-suporte{
    padding-top: 14vh;
}